@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
}

#ui-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  body {
    @apply text-white;
  }
}
